@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    text-align: center;
}

h1 {
    font-family: 'Noto Sans', sans-serif;    
}

.square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.x:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274C";
    font-size: 50px;
    line-height: 100px;
}

.o:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2B55";
    font-size: 50px;
    line-height: 100px;
}

#btn {
    border: none;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
    background-color: coral;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}

/* .restart {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    background-color: coral;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: white;
}

a {
    text-decoration: none;
} */